.body{
    font-family:'Roboto', sans-serif;
    background-color: #455A64;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    color:#818F95;
    
}

.input, .result-container{ 
width: 100%;
font-size: 48px;
color:#455A64;
text-align: center;
padding:2px;
background:#818F95 ;
border:solid 2px #fff;
}

.result-container{
margin: 50px auto 0;
width: 50%;
}

.result-container .title{
    font-size: 18px;
    color:#000;   
    text-align: center;
}